<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9X56k83pb-YAzhwTAsHqG_sVKx5F0t2c</string>
	<key>GCM_SENDER_ID</key>
	<string>141567231511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-981b9</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-981b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141567231511:ios:feecd6f12548a6b81e7e52</string>
</dict>
</plist>